
/* technology */
.technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
}

.grid-container--technology {
    --flow-space: 2rem;
    padding-inline: 0;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--technology > picture {
    grid-area: image;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
    /* fix right/left side gaps */
    margin-inline: -0.5rem;
}

.grid-container--technology > .number-indicators {
    grid-area: tabs;
}

.grid-container--technology > .technology-details {
    grid-area: content;
    padding-inline: 1rem;
}

.technology-details p.name {
    letter-spacing: 1.5px;
    color:hsl( var(--clr-white))
}

.technology-details p {
    width: 95%;
    margin-inline: auto;
    hyphens: none;
}

.number-indicators > * {
    cursor: pointer;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 1.4px solid hsl( var(--clr-white) / .25);
    border-radius: 50%;
    padding: 1em;
    color: hsl(var(--clr-white));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

 
.number-indicators > *:hover,
.number-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.number-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-white) / 1); 
    
}
