footer { 
    background: pink;
    /* hsl( var(--clr-dark)); */
    height: 6rem;
    width: 100%;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.attribution { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.attribution p {
    padding: 0.3rem;
}
.attribution a { 
    color: white; 
    text-decoration: none;
}

.attribution a:hover { 
    color: red; 
}


/* ------------------------------ 450px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 450px) {
    body {
        grid-template-rows: min-content 1fr 4rem;
    }

    footer { 
        height: 4rem;
        margin-top: 4rem;
    }

    .attribution { 
        flex-direction: row;
    }
}

