
.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    cursor: pointer;
    border: 0;
    background: transparent;
    transition: transform 750ms ease-in-out;
}

.logo:hover,
.logo:focus {
    transform: scale(1.3);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(2.5rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / 0.04);
        backdrop-filter: blur(2.5rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

.menu-links > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}

.menu-links > *:hover
.menu-links > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.menu-links > .active,
.menu-links > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}


@media (max-width: 560px) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .primary-navigation.menu-links > .active {
       border: 0;
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        /* same as logo left margin */
        right: clamp(1.5rem, 5vw, 3.5rem);
        top: 2rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/shared/icon-close.svg);
    }
    
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}


@media (min-width: 560px) and (max-width: 850px) {
    .primary-navigation a > span {
        display: none;
    }
}


/************************************ 560px ***********************************/
@media (min-width: 560px) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}


/************************************ 950px ************************************/
@media (min-width: 950px) {
    .primary-navigation {
        margin-block: 2rem;
    }
}

/********************************************** 1250px *******************************/
@media (min-width: 1250px) {
    .primary-header::after {
        content: '';
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 2.5rem;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-white) / .25);
        order: 1;
    }

    nav {
        order: 2;
    }
}





