
.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    cursor: pointer;
    border: 0;
    background: transparent;
}

.logo:hover,
.logo:focus {
    transform: scale(1.3);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(2.5rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / 0.04);
        backdrop-filter: blur(2.5rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

.menu-links > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}

.menu-links > *:hover,
.menu-links > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.menu-links > .active,
.menu-links > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}




